@model Eventer.Models.Event
@{
    ViewBag.Title = Model.Title;
}

<h1>@Model.Title</h1>
Tags:
@foreach (var tag in Model.Tags)
{
    <a href="/Tag/@tag.UrlSlug" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-tag"></i> @tag.Name</a>
}
<hr/>
@if (Model.Image != null)
{
    <img src="@Model.Image" alt="@Model.Title"/>
}
<div class="well">
    @Model.Description
</div>

@if (User.Identity.IsAuthenticated)
{
    <div>Post a comment nigga</div>
}

@if (!Model.Comments.Any())
{
    <div class="alert alert-info">
        No comments added.
        @if (!User.Identity.IsAuthenticated)
        {
            <span>@Html.ActionLink("Log in to post a comment", "Login", "Account", null, new {@class = "alert-link"})</span>
        }
    </div>
}
else
{
    foreach (var comment in Model.Comments)
    {
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">@comment.Author.FirstName @comment.Author.LastName (@comment.DateCreated) said:</h4>
                @comment.Text
            </div>
        </div>
    }
}