@using System.Globalization
@using Eventer.Models
@model List<Eventer.Web.ViewModels.EventViewModel>

<h1>Upcoming Events</h1>

@foreach (var e in Model)
{
    <div class="post">
        <a class="thumbLink" href="@Url.Action("Show", "Events", new { date = e.Date.Date.ToString("MM-dd-yyyy"), slug = e.UrlSlug })" title="@e.Title">
            <img width="600" height="350" src="@e.Image" alt="@e.Title" />
        </a>
        <a class="dateInfo" href="@Url.Action("Index", "Events", new { date = e.Date.Date.ToString("MM-dd-yyyy") })">
            <div class="dayInfo">@e.Date.Day</div>
            <div class="timeInfo">@e.Date.DayOfWeek @e.Date.Hour</div>
            <div class="monthInfo">@e.Date.Month</div>
        </a>

        <div class="listContent">
            <h2 class="posttitle"><a href="@Url.Action("Show", "Events", new { date = e.Date.Date.ToString("MM-dd-yyyy"), slug = e.UrlSlug })" rel="bookmark" title="@e.Title">@e.Title</a></h2>

            <div class="smallMeta">
                <i class="fa fa-tag">
                    @foreach (var tag in e.Tags)
                    {
                        @tag.Name // TODO
                    }
                </i>
                <i class="fa fa-folder"> @e.Category.Name</i>
                <i class="fa fa-comment"> @e.Comments.Count</i>
                @if (e.Status == EventStatus.Open)
                {
                    <i class="fa fa-bolt"> Active</i>
                }
                else
                {
                    <i class="fa fa-exclamation-circle"> Expired</i>
                }
            </div>

            <p>@e.Description &#8230; <a href="@Url.Action("Show", "Events", new { date = e.Date.ToString("MM-dd-yyyy", CultureInfo.InvariantCulture), slug = e.UrlSlug })"> Continue &rarr;</a></p>
        </div>
    </div>
}