@using System.Web.Mvc.Html
@model Eventer.Web.ViewModels.EventViewModel

<div class="mapEmbed">
    <iframe width="900" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?q=@HttpUtility.UrlDecode(Model.Location)&amp;output=embed&amp;iwloc=near&amp;z=15"></iframe>
</div><!--end mapEmbed-->

<div class="post">
    <div class="entry">
        <h2 id="postTitle">@Model.Title</h2>
        <div id="crumbs"><a href="/">Home</a> &nbsp;/&nbsp; @Html.ActionLink("Events", "Index", "Events") &nbsp;/&nbsp; @Html.ActionLink(Model.Category.Name, "Category/" + Model.Category.Slug, "Events") &nbsp;/&nbsp; <span class="current">@Model.Title</span></div>

        <div class="socialButton">
            <a href="http://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
            <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </div>
        <div class="socialButton">
            <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
            <g:plusone size="medium" count="false"></g:plusone>
        </div>
        <div class="socialButton" id="facebookLike">
            <div id="fb-root"></div>
            <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="@HttpContext.Current.Request.Url.AbsoluteUri" send="false" layout="button_count" width="90" height="21" show_faces="true" action="like" colorscheme="light" font=""></fb:like>
        </div>
        <div class="clear"></div>

        @if (Model.Date < DateTime.Now)
        {
            <div class="alert alert-danger">The event already happened on @Model.Date.ToString("g")</div>
        }
        else if (Model.Limit == null || Model.Limit > Model.Participants.Count)
        {
            @Html.ActionLink("Join the event", "Join/" + Model.Id, null, new { @class = "btn btn-success" })
            <br /><br />
        }

        <div itemprop="description">
            <p>@Model.Description</p>
        </div>
    </div><!--end entry-->

    <br />

    @Html.Partial("Event/_Comments")

</div><!--end post-->

@Html.Partial("Event/_Details")