@using System.Web.Mvc.Html
@using Eventer.Web.ViewModels
@model Eventer.Web.ViewModels.EventViewModel
@{
    ViewBag.Title = Model.Title;
}
<div class="mapEmbed">
    <iframe width="900" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?q=@HttpUtility.UrlDecode(Model.Location)&amp;output=embed&amp;iwloc=near&amp;z=15"></iframe>
</div><!--end mapEmbed-->

<div class="post">
    <div class="entry">

        <h2 id="postTitle">@Model.Title</h2>
        <div id="crumbs"><a href="/">Home</a> &nbsp;/&nbsp; @Html.ActionLink("Events", "Index", "Events") &nbsp;/&nbsp; @Html.ActionLink(Model.Category.Name, "Category/" + Model.Category.Slug, "Events") &nbsp;/&nbsp; <span class="current">@Model.Title</span></div>

        <div class="socialButton">
            <a href="http://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
            <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </div>
        <div class="socialButton">
            <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
            <g:plusone size="medium" count="false"></g:plusone>
        </div>
        <div class="socialButton" id="facebookLike">
            <div id="fb-root"></div>
            <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="@HttpContext.Current.Request.Url.AbsoluteUri" send="false" layout="button_count" width="90" height="21" show_faces="true" action="like" colorscheme="light" font=""></fb:like>
        </div>
        <div class="clear"></div>

        @if (Model.Date < DateTime.Now)
        {
            <div class="alert alert-danger">The event already happened on @Model.Date.ToString("g")</div>
        }
        else if (Model.Limit == null || Model.Limit > Model.Participants.Count)
        {
            @Html.ActionLink("Join the event", "Join/" + Model.Id, "Events", new {@class = "btn btn-success"})
            <br/><br/>
        }

        <div itemprop="description">
            <p>@Model.Description</p>
        </div>
    </div><!--end entry-->

    <br />

    <div id="commentsection">

        <!--IF THERE ARE COMMENTS-->
        <h3 id="comments">Comments</h3>
        @if (Model.Comments.Count != 0)
        {
            <ol class="commentlist">
                @foreach (var comment in Model.Comments)
                {
                    <li>
                        <div class="comment-body">
                            <div class="comment-author">
                                <img alt="" src="http://1.gravatar.com/avatar/18582581bd92b433ded84dbffbb5fea8?s=38&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D38&amp;r=G" class="avatar" height="38" width="38" />
                                <cite class="fn">@comment.Author.FullName</cite>
                                <span class="says">says:</span>
                            </div>

                            <div class="comment-meta commentmetadata">
                                @comment.DateCreated.ToString("yy-mm-dd")
                            </div>

                            <p>@comment.Text</p>
                        </div>
                    </li>
                    <!-- #comment-## -->
                }
            </ol>
        }
        else
        {
            <div class="alert alert-info">No comments posted.</div>
        }

        <div class="navigation">
            <div class="alignleft"></div>
            <div class="alignright"></div>
        </div>

        <!--IF COMMENTS ARE OPEN-->
        <div id="respond">

            <h3>Leave a Comment</h3>

            @if (Context.User.Identity.IsAuthenticated)
            {
                <form action="http://themes.themolitor.com/eventure/wp-comments-post.php" method="post" id="commentform">
                    <p>
                        <input type="text" name="author" id="author" value="" size="22" tabindex="1" aria-required='true' />
                        <label for="author"><small>Name (required)</small></label>
                    </p>

                    <p>
                        <input type="text" name="email" id="email" value="" size="22" tabindex="2" aria-required='true' />
                        <label for="email"><small>Email (will not be published) (required)</small></label>
                    </p>

                    <p>
                        <input type="text" name="url" id="url" value="" size="22" tabindex="3" />
                        <label for="url"><small>Website</small></label>
                    </p>


                    <p>
                        <textarea name="comment" id="comment" cols="100%" rows="10" tabindex="4"></textarea>
                    </p>

                    <p>
                        <input name="submit" type="submit" id="submit" tabindex="5" value="Submit Comment" />
                        <input type='hidden' name='comment_post_ID' value='40' id='comment_post_ID' />
                        <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                    </p>


                </form>
            }
            else
            {
                <div class="alert alert-warning">@Html.ActionLink("Log in", "Login", "Account", new { @class = "alert-link" }) to post a comment.</div>
            }

        </div><!--end respond-->
    </div>

</div><!--end post-->
<div id="postDetails">
    <ul id="detailsTabs">
        <li class="activeTab">Details</li>
        <li>Participants</li>
        <li>Tags</li>
        <li>Similar</li>
    </ul>

    <ul id="metaStuff">
        <!--FIRST-->
        <li class="currentInfo">
            <div class="smallMeta">
                <ul>
                    <li><span>Duration: @Model.Duration.ToString("g")</span></li>
                    @if (Model.Date > DateTime.Now)
                    {
                        <li><span>The event has already ended.</span></li>
                    }
                    else
                    {
                        <li><span>The event is active!</span></li>
                    }
                    @if (Model.Limit > Model.Participants.Count || Model.Limit == null)
                    {
                        <li><span>There still are @(Model.Limit - Model.Participants.Count) slots for this event.</span></li>
                    }
                    else
                    {
                        <li><span>There are no spots left for the event.</span></li>
                    }
                    <li>The event is @Model.Status</li>
                </ul>
            </div>
        </li>

        <!--SECOND-->
        <li>
            @if (Model.Participants.Count != 0)
            {
                <ul>
                    @foreach (var p in Model.Participants)
                    {
                        <li>@p.FullName (@p.UserName)</li>
                    }
                </ul>
            }
            else
            {
                <div class="alert alert-info">Noone is participating yet. You can be the first!</div>
            }
        </li>

        <!--THIRD-->
        <li id="theTags">
            @foreach (var tag in Model.Tags)
            {
                @Html.ActionLink(tag.Name, "Tag/" + tag.Slug, "Events", new { @rel = "tag" })
            }
            <div class="clear"></div>
        </li>

        <li>
            @if (ViewBag.similar.Count != 0)
            {
                <ul>
                    @foreach (var ev in ViewBag.similar)
                    {
                        <li><a href="Events/Show/@ev.Date.ToString("mm-dd-yyyy")/@ev.Slug">@ev.Title</a></li>
                    }
                </ul>
            }
            else
            {
                <div class="alert alert-info">No similar events for now.</div>
            }
        </li>

    </ul>
</div>