@using Eventer.Models
@model List<Eventer.Web.ViewModels.EventViewModel>

<!--SLIDER-->
<div id="slider">
    <ul class="slides">
        <li>
            <div class="sliderInfo">
                <a class="sliderTitle" href="#">Party Like It&#8217;s 2017</a><br />
                <div class="sliderDate">12.25.2017</div>
            </div>
            <img width="900" height="350" src="http://lorempixel.com/900/350" alt="slide-1" />
        </li>
    </ul>
</div><!--end slider-->
<!--TAGLINE-->
<div id="tagLine">
    Welcome to the party. <a href="/">eventer</a> is the way to find your place!
</div>

<!--FILTER-->
<div id="filter" class="blackBar">
    <ul>
        <li><a class="active" href="#">All events</a></li>

        @foreach (var category in ViewData["Categories"] as IEnumerable<Category>)
        {
            <li class="cat-item cat-item-@category.Slug"><a class="active" href="#">@category.Name</a></li>
        }
    </ul>
</div><!--end filter-->
<!--DATE LIST-->
<ul id="dateList">
    @for (int i = 0; i < Model.Count; i++)
    {
        if (i == 0 || (i < Model.Count - 1 && Model[i].Date.Month != Model[i + 1].Date.Month))
        {
            <li class="box monthYear">
                <a class="dateLink" href="/Events/Index/@Model[i].Date.ToString("MM-dd-yyyy")">
                    <span>@Model[i].Date.ToString("Y")</span>
                </a>
            </li>
        }

        if (i == Model.Count - 1 && Model[i].Date.Month != Model[i - 1].Date.Month)
        {
            <li class="box monthYear">
                <a class="dateLink" href="/Events/Index/@Model[i].Date.ToString("MM-dd-yyyy")">
                    <span>@Model[i].Date.ToString("Y")</span>
                </a>
            </li>
        }

        <li class="box cat-item-@Model[i].Category.Slug">
            <a href="/Events/Show/@Model[i].Date.ToString("MM-dd-yyyy")/@Model[i].Slug">
                <span class="theDay">@Model[i].Date.ToString("dd")</span><br />
                <p class="theTitle">
                    <span>@Model[i].Date.DayOfWeek.ToString().Substring(0, 3) @@ @Model[i].Date.ToString("HH:mm:ss t")</span><br />
                    @Model[i].Description.Substring(0, 30)
                </p>
            </a>
        </li>
    }
    <li class="box" id="theEnd">The End.</li>
</ul><!--end date list-->