<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - eventer</title>
    <meta name="description" content="Simple Event System" />

    <link href="http://fonts.googleapis.com/css?family=Orbitron:400,700" rel="stylesheet" type="text/css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div id="wrapper" class="container">
        <div class="dotted"></div>

        <!--HEADER-->
        <div id="header">
            <a id="logo" href="/"><img src="~/Content/Images/logo.png" alt="eventer" /></a>

            <!--MENU-->
            @Html.Partial("Navigation/_Main", ViewData["Categories"])

        </div>

        <div id="content">
            @RenderBody()
        </div>

        <footer>
            <!--SOCIAL ICONS-->
            <div id="socialIcons">
                <a class="fa fa-rss fa-3x" href="#"></a>
                <a class="fa fa-facebook-square fa-3x" href="https://www.facebook.com/"></a>
                <a class="fa fa-twitter-square fa-3x" href="https://twitter.com/"></a>
                <a class="fa fa-youtube-square fa-3x" href="https://www.youtube.com/"></a>
            </div>

            <!--COPYRIGHT-->
            <div id="copyright">
                &copy; 2015 eventer. Site by
                <a href="https://github.com/grand-canyon" title="Site by Grand Canyon">Grand Canyon</a> /
                <a href="https://github.com/grand-canyon/Eventer"><i class="fa fa-github"></i> Open Source System</a>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
</body>
</html>