@using Eventer.Models

@foreach (var e in Model)
{
    <div class="post">
        <a class="thumbLink" href="@Url.Action("Show", "Events", new {date = e.Date.ToString("MM-dd-yyyy"), slug = e.Slug})" title="@e.Title">
            <img width="600" height="350" src="@e.Image" alt="@e.Title"/>
        </a>
        <a class="dateInfo" href="@Url.Action("Index", "Events", new {date = e.Date.ToString("MM-dd-yyyy")})">
            <div class="dayInfo">@e.Date.ToString("dd")</div>
            <div class="timeInfo">@e.Date.DayOfWeek.ToString().Substring(0, 3) @@ @e.Date.ToString("HH:mm:ss t")</div>
            <div class="monthInfo">@e.Date.ToString("Y")</div>
        </a>

        <div class="listContent">
            <h2 class="posttitle"><a href="@Url.Action("Show", "Events", new {date = e.Date.ToString("MM-dd-yyyy"), slug = e.Slug})" rel="bookmark" title="@e.Title">@e.Title</a>
            </h2>

            <div class="smallMeta">
                <i class="fa fa-tag">
                    @foreach (var tag in e.Tags)
                    {
                        @tag.Name @:
                    }
                </i>
                <i class="fa fa-folder"> @e.Category.Name</i>
                <i class="fa fa-comment"> @e.Comments.Count</i>
                @if (e.Status == EventStatus.Open)
                {
                    <i class="fa fa-bolt"> @e.Status</i>
                }
                else
                {
                    <i class="fa fa-exclamation-circle"> @e.Status</i>
                }
            </div>

            <p>@e.Description &#8230; <a href="@Url.Action("Show", "Events", new {date = e.Date.ToString("MM-dd-yyyy"), slug = e.Slug})"> Continue &rarr;</a>
            </p>
        </div>
    </div>
    <div class="clearfix"></div>
}